body{
    background: url(Desktop\ -\ 1.svg);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

footer{
    display:flex ;
    color: white;
    background-color: rgb(41, 41, 41);
    flex-direction: column;
}

.TF{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    padding: 30px;
    
}

.F{
display: flex;
flex-direction: column;
}

.C{

    display: flex;
    flex-direction: column;
}

.listas{
    margin-right: 30px;
}

footer h5{
    margin-right: 50px;
    font-size: 16px;
}

footer p{
font-size: 12px;
}

footer a{
    color: darkgray;
    text-decoration: none;
}

.POPO{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
}

.PF{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
.MF{
    display: flex;
    flex-direction: row;
}